.header{
    display: flex;
    justify-content: center;
    width: 100%;
    background:linear-gradient($ColorPrimary,$ColorBoby2);
    
}
.navbar{
    display: flex;
    width: 90%;
    
    min-height: 85px;
    justify-content: space-around;
    align-items: center;
}
.navbar__logo {
    width: 10%;
    
    
}
.navbar__logo img {
    width: 100%;
    height: 0 auto;
}

.navbar__search{
    display: flex;
}

.navbar__search input{
min-height: 30px;
min-width: 250px;
border-radius: 15px;
text-align: center;
outline: none;

}
.iconSearch{
    text-decoration: none;
}

.iconSearch img{
    width:30px;
    height: 30px;
    margin-left: 5px;
}

.navbar_switch{
    display: flex;
    justify-content: space-around;
    width: 10%;
    
}
.navbar_switch img{
    width: 30px;
    cursor: pointer;
}

.navbar_switch img:checked{
    src: url("./src/assets/images/location.png");
}
