header.header#header
  navbar.navbar
    div.navbar__logo
      a(href='#/'): img(src='../../assets/images/logo.svg' alt='Logo de la aplicacion' )
    div.navbar__searchBox#navbar__searchBox
    div.navbar_switch#navbar_switch
      div.navbar_switch__container
