header.header
  navbar.navbar
    div.navbar__logo
      a(href='#/'): img(src='../../assets/images/logo.svg' )
    div.navbar__search
      input(type="text" value=" Buscar ciudad")
      a.iconSearch(href="")
         img(src="../../assets/images/busqueda.png", alt=" boton de busqqueda") 
    div.navbar_switch
     include _switch.pug
     img(src="../../assets/images/locationOff.png", alt="boton de activar, desactivar ubicación")

        
