meta(name='viewport', content='width=device-width, initial-scale=1.0')
header.header
  navbar.navbar
    div.navbar__logo

    div.navbar__search
      input(type="text" value=" Buscar ciudad")
      a.iconSearch(href="") 
    
    div.navbar_switch
     include _switch.pug
  
