.header-calendar#header-calendar
  .header-calendar__left
    .header-calendar__title Pronostico Mensual
  .header-calendar__right#header-calendar__right
.calendar-section#calendar-section
  .calendar-section__header
    .calendar-section__month-name 
      div August
    .calendar-section__day-names
      div Sunday
      div Monday
      div Tuesday
      div Wednesday
      div Thursday
      div Friday
      div Saturday
  


      

      
      
