doctype html
html
  head 
     link(rel='stylesheet' type='text/css' href='../../css/main.css')
  body 
    .calendar-section#calendar-section
      .calendar-section__header
        div Monday
        div Tuesday
        div Wednesday
        div Thursday
        div Friday
        div Saturday
        div Sunday


          

      
      
