* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}
.section-title {
  font-size: 35px;
  font-weight: 100;
  text-shadow: 3px 4px 4px rgba(99, 99, 99, 0.6);
  color: #1f1f1f;
}
.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  border-radius: 10px;
  background-color: #4a4a4a40;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    border: 2px solid white;
  }
}
@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
@mixin loader {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e84a,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}
