section.hero__section
 div.hero__container
  div.today
   div.hero__container--today
    h1.titleDay Monday
    img.today__image--img(src="../assets/icons/wi-day-cloudy.svg", alt="estado del cielo", srcset="")
    span.info__today
        img(src="../assets/icons/wi-rain.svg", alt="icono de lluvia")
        p.probabilyRain Probabildad de lluvia 
        p.prababilyRain.value 10%
  div.hero
   div.hero__container--hero
    span.hero__header--title
     p.tempPromedy 13°
     p.nameCity CD Mexico
    span
     p.stateWind "vientos fuertes, cuidate"
  div.advice
   div.hero__container--advice
    img(src="../assets/images/clothes.png", alt="icono de ropa")
    p.adviceClothes hoy habrán vientos, puedes llevar un bufanda. No es muy probalble que llueva a así qu eno es necesario un paraguas, pero estará soleado, no olvides protección
    