.hour-section#hour-section
  .chart-container
    canvas(id="myChart")
  //- .hour-section__info
  //-   .hour-section__card
  //-     div 15%
  //-     .hour-section__icon
  //-       img
  //-     div 3pm

  
