include ../hero/hero
.section-nav 
  h1.section-title Pronostico por Horas
  .calendar-button
    a(href='#/calendar') Pronostico Mensual
.hour-section
  .chart
    .chart__container
      canvas(id="myChart")
  .hour-section__hourCards#hour-section
