.footer {
  width: 100%;
  color: white;
  &__section1 {
    background-color: green;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  &__section2 {
    display: grid;
    place-items: center;
    padding: 1em;
    text-align: center;
    background-color: #2396f3;
    font-size: 12px;
    div {
      padding-bottom: 10px;
    }
  }
}
