.header-calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80px;

  &__title {
  }
  &__city-info {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1em;
    text-transform: capitalize;
  }
  &__city-title {
    font-family: $FontTitleSpecial;
    font-size: 28px;
    padding: 0 1em;
    margin: auto;
  }
  &__time {
    font-size: 22px;
    margin-left: 1em;
  }
  &__temp {
    display: flex;
    align-items: center;
  }
  &__weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__weather-icon {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__right {
    margin-left: auto;
  }
}
