.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  place-items: center;
  min-height: 85px;
  @include sm {
    grid-template-columns: 1fr 3fr;
  }
}
.navbar__logo {
  max-width: 130px;
}
.navbar__logo img {
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}
.navbar__search {
  display: flex;
  justify-content: center;
  width: 50%;
}
// .navbar__search input {
//   font: 600 18px Arial;
//   border-radius: 15px;
//   text-align: center;
//   outline: none;
//   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
//     "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//   font-size: 18px;
//   // border: 1px solid transparent;
//   // border-bottom: 3px solid transparent;
//   width: 230px;
//   box-sizing: border-box;
//   border: 2px solid #ccc;
//
//   font-size: 16px;
//   background-color: white;
//   // background-image: url("")
//   background-position: 10px 10px;
//   background-repeat: no-repeat;
//   padding: 12px 20px 12px 40px;
//   -webkit-transition: width 0.4s ease-in-out, border-bottom 1s ease-in-out;
//   transition: width 0.4s ease-in-out, border-bottom 1s ease-in-out;
// }
//
// input:hover {
//   -webkit-box-shadow: 0px 20px 35px -12px $ColorButtonActivated;
//   -moz-box-shadow: 0px 20px 35px -12px $ColorButtonActivated;
//   box-shadow: 0px 20px 35px -12px $ColorButtonActivated;
// }
// input:focus {
//   width: 350px;
//   outline: none;
// }

.iconSearch {
  text-decoration: none;
}
.iconSearch img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.navbar_switch {
  display: flex;
  justify-content: space-around;
  @include sm {
    display: none;
  }
}
.navbar_switch img {
  width: 30px;
  cursor: pointer;
}
