.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 470px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  background-image: url("../assets/images/autumn.jpg");
  @include sm {
    grid-template-columns: 1fr;
    height: auto;
    grid-template-areas:
      "city"
      "today";
  }
  &__right {
    border-radius: 10px;
    background: linear-gradient(#084b72c9, #a1bcd0);
    @include sm {
      height: 470px;
      grid-area: today;
      border-radius: 0;
    }
  }
  &__left {
    background-color: #0000006e;
    @include sm {
      grid-area: city;
      border-radius: 10px 10px 0px 0px;
    }
  }
}
