.today-card {
  position: relative;
  width: 100%;
  height: 100%;
  &__skeleton {
    background-color: initial;
    position: relative;
    overflow: hidden;
    &::before {
      @include loader();
    }
  }
  &__skeleton--error {
    background-color: initial;
  }
  &__clickable {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
  }
  &__header {
    display: flex;
    background-color: pink;
    padding: 1em;
    height: 50px;
    color: white;
  }
  &__header--2 {
    background-color: #1f86c9;
    cursor: pointer;
  }
  &__header--1 {
    background-color: #0679c0;
    cursor: pointer;
  }
  &__header--0 {
    background-color: #1169b2;
    cursor: pointer;
  }
  &__header--base {
    display: flex;
    padding: 1em;
    color: white;
  }
  &__day-title--base {
    font-size: 20px;
  }
  &__day-title--base {
    font-size: 30px;
  }
  &__day-temp {
    margin-left: auto;
    margin-right: 5px;
  }
  &__day-status {
    display: block;
    text-align: center;
    margin: 25px 0;
    text-transform: capitalize;
  }
  &__day-icon {
    height: 20px;
    width: 20px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__day-icon--base {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__container {
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
    @include sm {
      width: 100%;
    }
  }
  &__card {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
  }
  &__card--2 {
    background: linear-gradient(#084b72, #a1bcd0);

    bottom: -90%;
  }
  &__card--1 {
    background: linear-gradient(#084b72, #a1bcd0);

    bottom: -80%;
  }
  &__card--0 {
    background: linear-gradient(#084b72, #a1bcd0);
    bottom: -70%;
  }
  &__content {
    padding: 0 3em;
  }
  &__day-info {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 4fr;
    place-items: center;
    span {
      display: flex;
      width: 100px;
    }
    span:first-child {
      justify-content: flex-end;
    }
  }
}
