footer.footer
  .footer__section1
    div Feedback
    div Terms of Use 
    div PlatziMaster
  .footer__section2
    div ©DailySun, Inc an <b>DailySun</b> logo are trade marks of DailySun, Inc. 
    div Project made for the Platzi Master program 2020 by X team Cohort 3

  
